.tree {
    display: block;
}
/* <ul style="display: none;"> */
/* <ul style="display: none;"> */
/* <span style="width: 153px; user-select: none;"> */
/* <input class="color-option " type="button" name="layered_id_attribute_group_7" data-rel="7_3" id="layered_id_attribute_group_7" style="background: #f5f5dc;"/>  */
/* input class="color-option " type="button" name="layered_id_attribute_group_8" data-rel="8_3" id="layered_id_attribute_group_8" style="background: #ffffff;" */
/* <input class="color-option " type="button" name="layered_id_attribute_group_11" data-rel="11_3" id="layered_id_attribute_group_11" style="background: #434A54;"/> */
/* <input class="color-option " type="button" name="layered_id_attribute_group_13" data-rel="13_3" id="layered_id_attribute_group_13" style="background: #F39C11;"/> */
/* <input class="color-option " type="button" name="layered_id_attribute_group_15" data-rel="15_3" id="layered_id_attribute_group_15" style="background: #A0D468;"/> */
/* <input class="color-option " type="button" name="layered_id_attribute_group_14" data-rel="14_3" id="layered_id_attribute_group_14" style="background: #5D9CEC;"/> */
/* <input class="color-option " type="button" name="layered_id_attribute_group_16" data-rel="16_3" id="layered_id_attribute_group_16" style="background: #F1C40F;"/>  */
/* <input class="color-option " type="button" name="layered_id_attribute_group_24" data-rel="24_3" id="layered_id_attribute_group_24" style="background: #FCCACD;"/ */
/* div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"> */
/* <a class="ui-slider-handle ui-state-default ui-corner-all" href="https://demo.fieldthemes.com/bookshop/home1/es/14-auto#" style="left: 0%;"> */
/* <a className="ui-slider-handle ui-state-default ui-corner-all" href="https://demo.fieldthemes.com/bookshop/home1/es/14-auto#" style="left: 100%;"></a> */
/* <div id="layered_ajax_loader" style="display: none;"> */