.Navbar{
    background: #777777; 
    color: #fff !important ; 
}
/* <div id="header_menu" class="visible-lg visible-md" style="top: 0px; left: 0px; right: 0px; position: relative; z-index: 1030;"> */
/* <li class="nbs-flexisel-item" style="width: 0px;"> */
/* <ul class="v-right-section-products menu-product nbs-flexisel-ul" data-pquant="2" style="left: 0px;"> */
/* <li class="nbs-flexisel-item" style="width: 0px;"> */
/* <li class="nbs-flexisel-item" style="width: 0px;"> */
/* <li class="nbs-flexisel-item" style="width: 0px;"> */
/* <li class="nbs-flexisel-item" style="width: 0px;"> */
/* <li class="nbs-flexisel-item" style="width: 0px;"> */
/* <li class="nbs-flexisel-item" style="width: 0px;" */
/* <li class="nbs-flexisel-item" style="width: 0px;"> */